---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.img -%}
    <div id='people_profile' class="profile float-right">
        {% include figure.html 
        path=page.img
        class="img-fluid z-dept-1 rounded"
        alt=page.name -%}
    </div>
    {%- endif %}
    <h1 id="people_title" class="post-title">{{ page.name }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>

<script>
  if ((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) < 600) {
    var people_profile = document.getElementById('people_profile');
    var people_title = document.getElementById('people_title');
    people_title.after(people_profile);
  }
</script>
